{{ define "title" }}{{ "archive" }} - {{ .Site.Title }}{{ end }}

{{ define "header" }}
<header class="section-header">
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
</header>
{{ partial "site-nav.html" . }}
{{ end }}

{{ define "content"}}

<div class="entry-content">
    {{ .Content }}
    {{ $length := len .Pages }}
    <h3 class="section-post-count">{{ $length }} records in {{ .Section }} section</h3>
</div>

<main class="articles-list">
    {{ range .Paginator.Pages }}
    {{ .Render "article" }}
    {{ end }}
</main>

{{ partial "pagination.html" . }}

{{ end }}