{{ define "title" }}{{ "archive" }} - {{ .Site.Title }}{{ end }}

{{ define "header" }}
<header class="section-header">
{{ $length := len .Pages }}
<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> | {{ $length }} records in {{ .Section }}</h1>
</header>
{{ partial "site-nav.html" . }}
{{ end }}

{{ define "content"}}

  <main class="articles-list">
  {{ range .Paginator.Pages }}
  {{ .Render "article" }}
  {{ end }}
  </main>

  {{ partial "pagination.html" . }}

{{ end }}
