{{ define "header" }}
<header class="single-header">
<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
</header>
{{ end }}

{{ define "content" -}}

<article class="single-entry">
 
  <h2 class="entry-title">{{ .Title }}</h2>

  {{ partial "post-meta.html" . }}

  <div class="entry-content">
    {{ .Content }}

{{ with .Resources.Match "**.md" }}
<div class="md-src">
<h2>from resources</h2>
{{ range . }}
<div class="md-src-entry">
    <h3>{{ .Title }}</h3>
    {{ if (isset .Params "gallery") }}
        <div class='gallery-content c{{ index .Params "gallery" }}'>
            {{ .Content }}
        </div>
    {{ else }}
        {{ .Content }}
    {{ end }}
</div>
{{ end }}
</div>
{{ end }}
  </div>

  <!-- footer if needed -->

</article>


<div class="post-nav">

  {{ with .PrevInSection}}
  <div class="post-nav-item">
    <h2 class="readnext-title">prv. {{ .Render "readnext" }}</h2>
  </div>
  {{end}}

  {{ with .NextInSection}}
  <div class="post-nav-item">
    <h2 class="readnext-title">nxt. {{ .Render "readnext" }}</h2>
  </div>
  {{end}}
</div>

{{ partial "post-related.html" . }}

{{- end }}
