{{ define "header" }}
<header class="single-header">
    <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
</header>
{{ end }}

{{ define "content" -}}

<article class="single-entry">

    <h2 class="entry-title">{{ .Title }}</h2>

    {{ partial "post-meta.html" . }}

    <div class="entry-content">
        {{ .Content }}
        <!-- insert content from markdown files -->
        {{ with .Resources.Match "**.md" }}
        <div class="md-src">
            <h2>markdown resources</h2>
            {{ range . }}
            <div class="md-src-entry">
        
                {{ if isset .Params "link" }}
                <h4><a target="_blank" href='{{ index .Params "link" }}'>{{ .Title }}</a></h4>
                {{ else }}
                <h4>{{ .Title }}</h4>
                {{ end }}
        
                {{ if (isset .Params "gallery") }}
                <div class='gallery-content c{{ index .Params "gallery" }}'>
                    {{ .Content }}
                </div>
                {{ else }}
                {{ .Content }}
                {{ end }}
            </div>
            {{ end }}
        </div>
        {{ end }}

        <!-- list all attachment pdf files if any -->
        {{ with .Resources.Match "**.pdf" }}
        <div class="file-src">
            <h2>pdf resources</h2>
            {{ range . }}
            <p><a target="blank" href="{{ .RelPermalink }}">{{ .Title }}</a></p>
            {{ end }}
        </div>
        {{ end }}
        
        <!-- list all attachment image files if any -->
        {{ with .Resources.ByType "image" }}
        <div class="file-src">
            <h2>image resources</h2>
            {{ range . }}
            <p><a target="blank" href="{{ .RelPermalink }}">{{ .Title }}</a></p>
            {{ end }}
        </div>
        {{ end }}


    </div>

    <!-- footer if needed -->

</article>


<div class="post-nav">

    {{ with .PrevInSection}}
    <div class="post-nav-item">
        <h2 class="readnext-title">prv. {{ .Render "readnext" }}</h2>
    </div>
    {{end}}

    {{ with .NextInSection}}
    <div class="post-nav-item">
        <h2 class="readnext-title">nxt. {{ .Render "readnext" }}</h2>
    </div>
    {{end}}
</div>

{{ partial "post-related.html" . }}

{{- end }}