{{/* List post in a tag/category */}}

{{ define "title" }}{{ .Title }} · {{ .Site.Title }}{{ end }}

{{ define "header" }}
<header class="taxonomy-header">
	<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
</header>
{{ partial "site-nav.html" . }}
{{ end }}


{{ define "content"}}
	<section class="taxonomy-name">
		{{ if eq .Data.Plural "tags" }}
		<h2 class="term-name">tag: <strong>{{ .Title }}</strong></h2>
		{{ else if eq .Data.Plural "categories" }}
		<h2 class="term-name">category: <strong>{{ .Title }}</strong></h2>
		{{ end }}
	</section>

	<main class="articles-list">
		{{ range .Paginator.Pages }}
			{{ .Render "article-title" }}
		{{ end }}
	</main>

	{{ partial "pagination.html" . }}

{{ end }}
