{{ define "title" }}{{ .Data.Plural }} - {{ .Site.Title }}{{ end }}

{{ define "header" }}
<header class="terms-header">
	{{ if eq .Data.Plural "tags" }}
		<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> | tag list</h1>
	{{ else if eq .Data.Plural "categories" }}
		<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a> | category list</h1>
	{{ end }}
</header>
{{ partial "site-nav.html" . }}
{{ end }}

{{ define "content" }}

	<main class="terms-list">

	{{ range .Data.Terms.Alphabetical }}
		<div class="term-item"><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><sup>({{ .Count }})</sup>
		</div>
	{{ end }}

	</main>

{{ end }}

