<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang | default "en" }}" itemscope itemtype="http://schema.org/WebPage">

{{ partial "site-head.html" . }}

<body>

        <header class="header">
            <div class="wrapper">
            <div class="hbox hbox-1">
				{{ block "h1" . }}
                <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
				{{ end }}
				</div>
				
				<div class="hbox hbox-2">
				{{ block "h2" . }}
					{{ partial "site-nav.html" . }}
				{{ end }}
				</div>
            </div>
			
        </header>
        
        <div class="wrapper">
            <nav class="top-nav">
                <ul>
                {{ range .Site.Menus.top }}
                <li><a class="menu-item-link" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a></li>
                {{ end }}
                </ul>
            </nav>

            {{ block "main" . }}{{ end }}

            {{ block "nav-bottom" . }}{{ end }}
        </div>

        {{ block "footer" . }}
        <footer class="footer">
            <div class="wrapper">
            <div class="footer-menu">
                <ul>
                {{ range .Site.Menus.footer }}
                {{ if hasPrefix .URL "http" }}
                <li><a class="footer-menu-item" href="{{ .URL | absLangURL | safeURL }}" rel="noopener" target="_blank">
                    {{ .Name }}
                </a></li>
                {{ else }}
                <li><a class="footer-menu-item" href="{{ .URL | absLangURL | safeURL }}">{{ .Name }}</a></li>
                {{ end }}
                {{ end }}
                </ul>
            </div>

            <div>&copy; <a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></div>
            </div>
        </footer>
        {{ end }}

    {{ partial "site-tail.html" . }}
    <!-- temporary not use 
    {{/* partial "google-analytics-async.html" . */}}
    -->
</body>

</html>