{{ define "h2" }}
{{ $length := len .Pages }}
{{ partial "site-nav.html" . }}
<h2 class="entry-title">{{ $length }} records in {{ .Section }} section</h2>
{{ end }}


{{ define "main" }}
<section class="section-content">
    <div class="entry-content">
        {{ .Content }}
    </div>
    <svg height="10" width="300">
        <g fill="none" stroke="black" stroke-width="2">
            <path stroke-dasharray="20,5,2,2,5,2,2,5" d="M5 5 l235 0" />
        </g>
    </svg>
</section>

<main id="main" class="articles-list">
    {{ range .Paginator.Pages }}
    {{ .Render "article" }}
    {{ end }}
</main>

{{ end }}


{{ define "nav-bottom" }}
{{ partial "pagination.html" . }}
{{ end }}
