{{ define "h2" }}
{{ $length := len .Pages }}
{{ partial "site-nav.html" . }}
<h2 class="entry-title">{{ $length }} records in {{ .Section }} section</h2>
{{ end }}


{{ define "main" }}
<section class="section-content">
    <div class="entry-content">
        {{ .Content }}
    </div>
</section>

<main id="main" class="articles-list">
    {{ range .Paginator.Pages }}
    {{ .Render "article" }}
    {{ end }}
</main>

{{ end }}


{{ define "nav-bottom" }}
{{ partial "pagination.html" . }}
{{ end }}