
{{ define "h2" }}
{{ partial "post-header.html" . }}
{{ end }}



{{ define "main" }}

<main class="single-entry">

   <div class="entry-content">
       {{ .Content }}
   </div>

   {{ partial "inc-resources.html" . }}

</main>

{{ end }}

{{ define "nav-bottom" }}
    <div class="post-nav">

        {{ with .PrevPage }}
        <div class="post-nav-item">
            <h2 class="readnext-title">prv.<br><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        </div>
        {{end}}

        {{ with .NextPage }}
        <div class="post-nav-item">
            <h2 class="readnext-title">nxt.<br><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        </div>
        {{end}}
    </div>

    {{ partial "post-related.html" . }}

{{ end }}