.card-title {
  font-family:$fh;
  font-weight:600;
  letter-spacing:0.2rem;
  text-transform: uppercase;
  color: $lk;
  svg {
    width: 18px;
    height: 18px;
  }
}
.card-date {
  font-family:$fh;
  font-size: 90%;
  font-style: italic;
  color: #888;
}
