.card {
  border: 2px solid $lk;
  padding: 1rem;
  @include shadow();
}
.card-title {
  font-family:$fh;
  font-weight: 700;
  text-transform: lowercase;
  color: $lk;
  padding-bottom: 0.5rem;
  svg {
    width: 18px;
    height: 18px;
  }
}
.card-date {
  font-family:$fb;
  color: #bbb;
}
