.single-entry {
    border-bottom: none;
    .entry-title {
        font-family: $fh;
        font-size: 2rem;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
}
.entry-content {
    word-break: break-word;
    p,
    div {
        margin-bottom: 1rem;
    }
    a {
        border-bottom: 1px solid $lk;
    }
    hr {
        border: none;
        border-bottom: 1px dashed #555;
        padding-top: 1rem;
        margin-bottom: 2rem;
    }
    ul {
        list-style: square;
        padding-left: 1.25rem;
        padding-bottom: 0.5rem;
        li {
            padding-bottom: 0.5rem;
            & > p {
                display: inline-block;
                margin: 0;
            }
            & > div {
                margin-bottom: 0;
                & > pre {
                    margin-bottom: 0;
                }
            }
            ul {
                list-style: circle;
            }
        }
    }
    ol {
        list-style: decimal;
        list-style-position: inside;
        li {
            padding-bottom: 0.5rem;
        }
    }
    p > code,
    li > code {
        color: $cd;
    }
    pre {
        border: 1px dashed #aaa;
    }
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding: 1rem 0;
        font-family: $fh;
    }
    h2 {
        font-size: 2rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 1.2rem;
        font-weight: 600;
    }
    h5,
    h6 {
        font-weight: 600;
    }
    .footnotes {
        padding-top: 1rem;
        font-size: 85%;
        hr {
            border: none;
            border-bottom: 1px solid $cd;
            height: 1px;
            padding: 0;
            margin-bottom: 1rem;
        }
        &:before {
            content: "footnotes";
            font-family: $fh;
            font-weight: 600;
            letter-spacing: 0.5rem;
            color: $cd;
        }
    }
}
.post-nav {
    padding-top: 1rem;
    margin-top: 2rem;
    border-top: 2px solid $tx;
    h2 {
        font-family: $fh;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 0.8rem;
        padding: 0.3rem 0;
    }
}
.post-info {
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $tx;
    font-family: $fh;
    font-size: 80%;
    text-transform: uppercase;
    a {
        font-weight: 600;
        &:before {
            content: "#";
            color: #aaa;
            font-weight: normal;
        }
    }
}
.post-related {
    padding: 1rem 0;
    h3 {
        font-family: $fh;
        text-transform: uppercase;
        border-bottom: 1px solid #ccc;
    }
    .related-list {
        padding: 1rem 0;
        li {
            border-bottom: 1px dashed #ccc;
        }
    }
}
