

.header {
	background: $tx;
	.wrapper {
		padding: 3rem 1rem 3.5rem;
		display: grid;
		grid-gap: 1rem;
		grid-template-columns: 1fr 2fr;
		color: #aaa;
		a {
			color: $wt;
		}
		@media (min-width:$hg) {
			padding: 5rem 0;
		}
	}
}

.hbox {
	@include box2(none,$wt);
	padding: 1rem;
}

.top-nav {
	padding: 1rem;
	margin-top: -3rem;
	ul {
		display: flex;
		flex-flow: row wrap;
		li {
			margin-right: 1rem;
			margin-bottom: 1rem;
			a {
				display: block;
				@include box();
			}
		}
	}
	@media (min-width:$hg) {
		padding: 1rem 0;
	}
}

.pagination {
	padding: 0 1rem 5rem;
	@media (min-width: $hg) {
		padding: 0 0 5rem;
	}
}
.pagination ul {
	display: flex;
	flex-flow: row wrap;
	li {
		margin-right: 1rem;
	}
	a {
		@include box();
		display: block;
	}
}


.footer {
	background: $tx;
	text-align: center;
	padding: 3rem 0 5rem;
	color: #aaa;
	a {
		color: $wt;
	}
}

.footer-menu {
	margin-top: -2rem;
	text-align: center;
	ul {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		position: relative;
		top: -3rem;
		li {
			margin-right: 1rem;
		}
		li:lasr-of-tpye {
			margin-right: 0;
		}
		a {
			display: block;
			@include box($tx,#eee);
		}
	}
}
		