.wrapper {
    padding: 1rem;
    @media (min-width: $sm) {
        display: grid;
        grid-template-columns: 180px 1fr;
    }
    @media (min-width:$lg) {
        width: 75vw;
        grid-template-columns: 1fr 2fr;
    }
}

@media (min-width:$sm) {
    .panel-right {
        padding-left: 1rem;
    }
    .panel-left {
        text-align: right;
        display: flex;
        flex-direction: column;
        .header {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 1rem;
            h1 {
                border: 2px solid $lk;
                width: 150px;
                height: 150px;
            }
        }
        .footer {
            margin-top: auto;
            position: sticky;
            bottom: 1rem;
        }
        .site-nav {
            position: sticky;
            top: 1rem;
        }
    }
}