

h2.entry-title {
	font-weight: 700;
	color: $wt;
}

.entry-content, .src-content {
	padding: 2rem 0;
	p, p > img, .footnotes ol, ul, ol {
		max-width: $ctw;
		margin: 1rem auto;
	}
	pre {
		margin: 2rem auto;
		max-width: $ctw;
	}
	ul {
		list-style: square;
	}
	h2 {
		font-size: 2rem;
		font-weight: 700;
	}
	h3 {
		font-size: 1.6rem;
		font-weight: 700;
		border-bottom: 2px solid $tx;
	}
	h4 {
		font-size: 1.2rem;
		font-weight: 700;
	}
}

.footnotes {
	margin-top: 3rem;
	font-size: 0.85rem;
	hr {
		border: none;
		border-top: 2px solid #aaa;
		height: 2px;
	}
	ol {
		list-style: decimal;
		list-style-position: inside;
		li {
			padding: 0.3rem 0;
		}
	}
}


.resource-title {
	font-size: 3rem;
	margin: 2rem 0 1rem;
}
.src-title {
	display: inline-block;
	background: $bg;
	border: 2px solid $bl;
	border-bottom: 2px solid $bg;
	border-right: 5px solid $bl;
	padding: 0.3rem 1rem;
	position: relative;
	top: 2px;
	font-size: 1.2rem;
	font-weight: 700;
}
.src-content, .gallery-content {
	@include box();
	margin-bottom: 1rem;
	padding: 3rem 0;
}

.post-nav {
	background:#aaa;
	padding: 1rem;
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: 1fr 1fr;
	.post-nav-item {
		@include box();
		a {
			font-weight: 700;
		}
	}
}

.post-related {
	background: #aaa;
	padding: 0 1rem 5rem;
	h3 {
		font-size: 2rem;
	}
	.related-list {
		@include box(none,$bl);
	}
}