@import "reset";

$fnt: "IBM Plex Sans", sans-serif;

$sm: 640px;
$md: 800px;
$lg: 1140px;
$hg: 1400px;

$bl: #000;
$wt: #fff;
$bg: #ddd;
$tx: #333;
$lk: #000;
$cd: #0077aa;

$cts:480px;
$ctw:540px;

@mixin box($b: $bg, $c: $lk) {
    padding: 0.5rem 1rem;
    background: $b;
    border: 2px solid $c;
    -webkit-box-shadow: 5px 5px 0px 0px $c;
    -moz-box-shadow: 5px 5px 0px 0px $c;
    box-shadow: 5px 5px 0px 0px $c;
    @media (min-width:$lg) {
        padding: 0.8rem 1.5rem;
    }
}

@mixin box2($b: $bg, $c: $lk) {
    background: $b;
    border: 2px solid $c;
    -webkit-box-shadow: 5px 5px 0px 0px $c;
    -moz-box-shadow: 5px 5px 0px 0px $c;
    box-shadow: 5px 5px 0px 0px $c;
}

html {
	font: 18px/1.5 $fnt;
	word-break: break-word;
	// @media 
	// (-webkit-min-device-pixel-ratio: 2), 
	// (min-resolution: 250dpi) { 
	//	font-size: 19px; 
	// }
}

body {
    color: $tx;
    background: $bg;
}

a {
    text-decoration: none;
    color: $lk;
    transition: all 0.3s ease;
    &:hover {
        color: $cd;
    }
}

.wrapper {
    @media (min-width:$lg) {
        max-width: 960px;
        margin: 0 auto;
    }
}
@import "prism";
@import "header";
@import "card";
@import "single";


