

<h2 class="entry-title">{{ .Title }}</h2>

<div class="entry-date">
Created: <time>{{ .Date.Format "2006-01-02" }}</time>;
Modified: <time>{{ .Lastmod.Format "2006-01-02" }}</time>
</div>

{{ if or (isset .Params "tags") (isset .Params "categories") }}
<div class="post-info">
    {{ if (isset .Params "tags") }}
    <ul class="post-tags">tags:
        {{ range .Params.tags }}
        <li><a href="{{ "/tags/" }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
    {{ if (isset .Params "categories") }}
    <ul class="post-categories">categories:
        {{ range .Params.categories }}
        <li><a href="{{ "/categories/" }}{{ . | urlize }}">{{ . }}</a></li>
        {{ end }}
    </ul>
    {{ end }}
</div>
{{ end }}

