{{ define "header" }}
<header class="single-header">
<h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
</header>
{{ end }}

{{ define "content" -}}

<article class="single-entry">
 
  <h2 class="entry-title">{{ .Title }}</h2>

  {{ partial "post-meta.html" . }}

  <div class="entry-content">
    {{ with .Site.GetPage "blackbox" }}
        {{ with (index (.Resources.Match (string $.Params.display)) 0) }}
        <h3>{{ .Title }}: {{ .Params.status }}</h3>
        {{ .Content }}
        <hr>
        {{ end }}
    {{ end }}

    {{ .Content }}
  </div>

  <!-- footer if needed -->

</article>


<div class="post-nav">

  {{ with .PrevInSection}}
  <div class="post-nav-item">
    <h2 class="readnext-title">prv. {{ .Render "readnext" }}</h2>
  </div>
  {{end}}

  {{ with .NextInSection}}
  <div class="post-nav-item">
    <h2 class="readnext-title">nxt. {{ .Render "readnext" }}</h2>
  </div>
  {{end}}
</div>

{{ partial "post-related.html" . }}

{{- end }}
